* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* header section */
.header {
  min-height: 8vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 30;
}

.header .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5em 0;
  background-color: #131313;
  color: #b6b6b6;
}

.header .top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.header .top ul li {
  margin: 0 0.6em;
  font-size: 0.8rem;
}

.header .top ul li:first-child {
  color: white;
}

.header .top ul li:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top ul li:nth-child(3) div {
  margin-left: 0.5em;
  height: 70%;
  width: 8px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-image: url("./img/iconmonstr-arrow-37-32(1).png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header nav {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header nav .tnw-red {
  display: none;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 80%;
}

.header nav ul li {
  padding: 1.3em 0;
  margin: 0 1em;
  color: #9b9b9b;
  font-size: 0.8rem;
}

.header nav .buttons-container {
  min-width: 60px;
  width: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav .buttons-container button {
  width: 4%;
  min-width: 60px;
  background: url("./img/iconmonstr-magnifier-6-32(1).png") 20% 10% no-repeat;
  background-position: center;
  background-size: 25% 35%;
  border: none;
  border-left: 1px solid #e0e0e0;
  background-color: white;
}

.header nav .buttons-container button.menu {
  background: url("./img/iconmonstr-menu-1-24.png");
  background-repeat: no-repeat;
  background-size: 35% 35%;
  background-position: center;
  display: none;
}

.header p {
  padding: 0.5em 0;
  background-color: #ffdd33;
  text-indent: 0.7%;
  font-size: 0.8rem;
}

@media screen and (max-width: 1100px) {
  .header .hide {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .header nav {
    height: 7vh;
  }
  .header .top {
    display: none;
  }
  .header nav .tnw-red {
    display: inline;
  }
  .header nav ul li {
    display: none;
  }
  .header nav .buttons-container {
    min-width: 120px;
    width: 8%;
  }
  .header nav .buttons-container button.menu {
    display: block;
  }
}

/* BIG PICTURES INTRO SECTION*/
.intro {
  min-height: 75vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 2fr 1fr;
      grid-template: 1fr 1fr/ 2fr 1fr;
  grid-gap: 10px;
  margin: 0.2em 0;
}

.intro figure {
  position: relative;
  overflow: hidden;
}

.intro figure .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./img/image-gradient.png");
  background-position: center;
}

.intro figure img {
  width: 108%;
  height: 115%;
  overflow: hidden;
}

.intro figure span {
  position: absolute;
  top: 1.5%;
  right: 1.5%;
  font-size: 0.8rem;
}

.intro figure figcaption {
  position: absolute;
  bottom: 1.5%;
  left: 1.5%;
}

.intro figure figcaption p {
  margin: 1em 0;
}

.intro figure figcaption h2 {
  color: white;
  font-size: 1.5rem;
}

.intro figure figcaption p:first-child {
  color: white;
  font-size: 0.9rem;
}

.intro figure figcaption p.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
  color: #9b9b9b;
}

.intro figure figcaption p.author i.clock {
  background: url("./img/iconmonstr-time-3-32.png");
  background-size: contain;
  margin: 0 0.5em 0 1em;
  height: 14px;
  width: 14px;
}

.intro figure figcaption p.author i.share {
  background: url("./img/iconmonstr-share-1-32.png");
  background-size: contain;
  margin: 0 0.5em 0 1em;
  height: 14px;
  width: 14px;
}

.intro figure:first-child figcaption h2 {
  font-size: 3rem;
}

.intro .figure1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  grid-column: 1/1;
}

.intro .figure2 {
  -ms-grid-row: 1;
  grid-row: 1/1;
}

.intro .figure3 {
  -ms-grid-row: 2;
  grid-row: 2/2;
}

@media screen and (max-width: 760px) {
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro figure {
    width: 100%;
    height: 25vh;
  }
  .intro figure span {
    display: none;
  }
  .intro figure figcaption h2 {
    font-size: 1.2rem !important;
  }
}

/* LATEST NEWS SECTION */
.latest-news {
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 1.5em 0;
}

.latest-news h2 {
  width: 100%;
  padding: 1em 0;
  color: #ff4422;
}

.latest-news figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23%;
  margin: 1em 0;
  overflow: hidden;
}

.latest-news figure img {
  width: 100%;
  height: 140px;
}

.latest-news figure figcaption {
  width: 100%;
}

.latest-news figure figcaption p {
  font-weight: bold;
  margin: 0.7em 0;
}

.latest-news figure figcaption p.date {
  color: #9b9b9b;
  font-size: 0.8rem;
  font-weight: normal;
}

.latest-news figure:empty {
  visibility: hidden;
}

@media screen and (max-width: 1200px) {
  .latest-news {
    width: 95%;
  }
}

@media screen and (max-width: 1005px) {
  .latest-news figure {
    width: 32.5%;
  }
}

@media screen and (max-width: 760px) {
  .latest-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
  }
  .latest-news h2 {
    margin: 1em 0;
  }
  .latest-news figure {
    width: 100%;
    margin-bottom: 2em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .latest-news figure img {
    width: 19%;
    height: 88%;
    margin-right: 1em;
  }
}

/* LATEST FUNDING ROUNDS ON INDEX.CO */
.latest-funding {
  padding: 1.5em 0;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-funding > div {
  width: 100%;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.7em;
}

.latest-funding > div h2 {
  color: #ff4422;
}

.latest-funding > div h2:hover {
  color: black;
}

.latest-funding > div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  max-width: 42%;
}

.latest-funding > div ul li {
  padding: 0 1em;
  border-right: 1px solid #ff4422;
}

.latest-funding > div ul li a {
  color: #ff4422;
  text-decoration: none;
}

.latest-funding > div ul li a:hover {
  color: black;
}

.latest-funding > div ul li:last-child {
  border: none;
}

.latest-funding article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 23%;
  background-color: #fffaf8;
  position: relative;
}

.latest-funding article h4 {
  color: white;
  padding: 0.6em 0;
  background-color: #ff4422;
  padding-left: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.latest-funding article div {
  background-color: #ffebe7;
  padding: 0.6em 0;
}

.latest-funding article div p {
  padding-left: 30%;
}

.latest-funding article div .money {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.latest-funding article div .company {
  font-size: 0.7rem;
  color: #9b9b9b;
}

.latest-funding article > p {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5a5555;
  font-size: 0.8rem;
}

.latest-funding article > p .tag {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("./img/iconmonstr-tag-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 1em;
}

.latest-funding article > p .briefcase {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("./img/iconmonstr-briefcase-9.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 1em;
}

.latest-funding article p:nth-child(4) {
  padding-top: 0;
}

.latest-funding article p.preview {
  padding: 1em;
  border-top: 1px solid #ffcdc2;
  display: block;
}

.latest-funding article p.preview span {
  font-size: 0.7rem;
  color: #9b9b9b;
}

.latest-funding article img {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 23%;
  height: 26%;
}

@media screen and (max-width: 1200px) {
  .latest-funding {
    width: 95%;
  }
}

@media screen and (max-width: 1050px) {
  .latest-funding > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .latest-funding > div h2 {
    width: 100%;
  }
  .latest-funding > div ul {
    margin: 1em 0;
    max-width: 70%;
  }
  .latest-funding > div ul li:first-child {
    padding-left: 0;
  }
  .latest-funding article {
    width: 32.5%;
  }
  .latest-funding article:last-child {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .latest-funding {
    padding-top: 0;
  }
  .latest-funding > div h2 {
    font-size: 1.5rem;
  }
  .latest-funding > div ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .latest-funding > div ul li {
    border: none;
    padding: 0;
    margin: 0.4em 0;
    font-size: 0.9rem;
  }
  .latest-funding article {
    width: 100%;
    margin-bottom: 0.7em;
  }
  .latest-funding article h4 {
    padding-left: 17%;
  }
  .latest-funding article div p {
    padding-left: 17%;
  }
  .latest-funding article img {
    width: 13%;
    top: 5%;
    left: 2%;
  }
}

/* ARTICLES ON DIFFERET TOPICS */
.various-topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 1em auto 0 auto;
}

.various-topics article {
  width: 32%;
  margin-bottom: 2em;
}

.various-topics article h2 {
  color: #ff4422;
  margin: 1em 0;
}

.various-topics article .top-figure {
  width: 100%;
  position: relative;
}

.various-topics article .top-figure img {
  width: 100%;
  min-height: 30vh;
  max-height: 100%;
}

.various-topics article .top-figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
  z-index: 20;
}

.various-topics article .top-figure figcaption h2 {
  color: white;
  margin: 0.2em 0;
  font-size: 1.3rem;
}

.various-topics article .top-figure figcaption .first-para {
  font-size: 0.8rem;
  color: white;
}

.various-topics article .top-figure figcaption p:last-child {
  color: #9b9b9b;
  font-size: 0.6rem;
}

.various-topics article .top-figure::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./img/image-gradient.png");
  background-position: center;
}

.various-topics article .latest-figure {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff4f2;
}

.various-topics article .latest-figure div {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  min-width: 30%;
  height: 97px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.various-topics article .latest-figure div img {
  height: 95%;
  width: 160%;
  margin-left: -30%;
}

.various-topics article .latest-figure figcaption {
  padding: 0.6em;
  color: #ff4422;
  height: 13vh;
}

.various-topics article .latest-figure figcaption p:first-child {
  font-size: 0.7rem;
}

.various-topics article .latest-figure figcaption p:last-child {
  font-weight: bold;
  font-size: 0.8em;
}

.various-topics article ul {
  margin-left: 0.8em;
  list-style: none;
}

.various-topics article ul li {
  padding: 1em 0;
  border-bottom: 1px solid #eeeeee;
  font-size: 0.8rem;
  color: #555555;
}

.various-topics article ul li::before {
  content: '\2022';
  color: #ff4422;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.various-topics article:last-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 1200px) {
  .various-topics {
    width: 95%;
  }
}

@media screen and (max-width: 1000px) {
  .various-topics article {
    width: 48%;
  }
}

@media screen and (max-width: 760px) {
  .various-topics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
    height: auto;
  }
  .various-topics article {
    width: 100%;
  }
  .various-topics article h2 {
    margin-top: 0;
  }
}

/* LATEST DEALS SECTION */
.latest-deals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: 0 auto;
  width: 80%;
}

.latest-deals header {
  width: 100%;
  padding: 1em 0;
  color: #ff4422;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-deals article {
  width: 23%;
  height: 40%;
}

.latest-deals article figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 1em 0;
}

.latest-deals article figure img {
  width: 100%;
}

.latest-deals article figure figcaption h4 {
  margin-top: 0.6em;
}

.latest-deals article figure figcaption p {
  margin-top: 0.2em;
}

.latest-deals article figure figcaption .old-price {
  font-size: 0.7rem;
  color: #9b9b9b;
  text-decoration: line-through;
}

.latest-deals article figure figcaption .new-price {
  font-size: 1.1rem;
}

@media screen and (max-width: 1200px) {
  .latest-deals {
    width: 95%;
  }
}

@media screen and (max-width: 1050px) {
  .latest-deals article {
    width: 32%;
  }
}

@media screen and (max-width: 760px) {
  .latest-deals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .latest-deals .header {
    padding: 0;
  }
  .latest-deals article {
    width: 100%;
  }
  .latest-deals article figure {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .latest-deals article figure img {
    max-width: 14%;
    margin-right: 1em;
  }
  .latest-deals article figure figcaption p {
    margin-top: 0.5em;
  }
  .latest-deals article figure figcaption .new-price {
    font-size: 1rem;
  }
  .latest-deals article:empty {
    height: 0;
  }
}

/* FOOTER */
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #131313;
  padding: 1em 0;
}

footer .socials {
  min-height: 8vh;
  padding-top: 3.5em;
}

footer .socials li {
  margin-right: 1.5em;
}

footer .socials li a {
  padding: 0.8em;
  border-radius: 50%;
  background-color: #333333;
  border: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .socials li a:hover {
  background-color: #131313;
}

footer .socials li a img {
  width: 19px;
  height: 19px;
}

footer .socials li:last-child {
  margin: 0;
}

footer .others li {
  margin: 0 1em;
  font-size: 0.7rem;
  padding-bottom: 1.5em;
}

footer .others li a {
  color: #a4a4a4;
  text-decoration: none;
}

footer p {
  padding: 3em 0;
  font-size: 0.8rem;
  background-color: black;
  width: 100%;
  color: #a4a4a4;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p img {
  margin: 0 1em;
}

@media screen and (max-width: 750px) {
  footer .socials li {
    margin-right: 1em;
  }
  footer .socials li a img {
    width: 13px;
    height: 13px;
  }
  footer > p img {
    margin: 0 0.5em;
  }
}

@media screen and (max-width: 400px) {
  footer .socials li {
    margin-right: 0.4em;
  }
  footer .socials li a img {
    width: 11px;
    height: 11px;
  }
  footer .others li {
    margin: 0 0.4em;
  }
}

/* ORANGE ARROW TO THE RIGHT OF HEADINGS */
.arrow-right {
  display: inline-block;
  height: 16px;
  width: 18px;
  background: url("./img/iconmonstr-arrow-25-32.png");
  background-size: contain;
}
/*# sourceMappingURL=style.css.map */