* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* header section */
.header {
  min-height: 8vh;
}

.header .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5em 0;
  background-color: #131313;
  color: #b6b6b6;
}

.header .top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.header .top ul li {
  margin: 0 0.6em;
  font-size: 0.8rem;
}

.header .top ul li:first-child {
  color: white;
}

.header .top ul li:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top ul li:nth-child(3) div {
  margin-left: 0.5em;
  height: 70%;
  width: 8px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-image: url("./img/iconmonstr-arrow-37-32(1).png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header nav {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 50%;
}

.header nav ul li {
  padding: 1.3em 0;
  color: #9b9b9b;
  font-size: 0.8rem;
}

.header nav button {
  width: 4%;
  background: url("./img/iconmonstr-magnifier-6-32(1).png") 20% 10% no-repeat;
  background-position: center;
  border: none;
  border-left: 1px solid #e0e0e0;
  background-color: white;
}

.header p {
  padding: 0.5em 0;
  background-color: #ffdd33;
  text-indent: 0.7%;
  font-size: 0.8rem;
}

@media screen and (max-width: 760px) {
  .top {
    display: none;
  }
}

/* BIG PICTURES INTRO SECTION*/
.intro {
  min-height: 75vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 2fr 1fr;
      grid-template: 1fr 1fr/ 2fr 1fr;
  grid-gap: 10px;
  margin: 0.2em 0;
}

.intro figure {
  position: relative;
  overflow: hidden;
}

.intro figure .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./img/image-gradient.png");
  background-position: center;
}

.intro figure img {
  width: 108%;
  height: 115%;
  overflow: hidden;
}

.intro figure span {
  position: absolute;
  top: 1.5%;
  right: 1.5%;
  font-size: 0.8rem;
}

.intro figure figcaption {
  position: absolute;
  bottom: 1.5%;
  left: 1.5%;
}

.intro figure figcaption p {
  margin: 1em 0;
}

.intro figure figcaption h2 {
  color: white;
  font-size: 1.5rem;
}

.intro figure figcaption p:first-child {
  color: white;
  font-size: 0.9rem;
}

.intro figure figcaption p.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
  color: #9b9b9b;
}

.intro figure figcaption p.author i.clock {
  background: url("./img/iconmonstr-time-3-32.png");
  background-size: contain;
  margin: 0 0.5em 0 1em;
  height: 14px;
  width: 14px;
}

.intro figure figcaption p.author i.share {
  background: url("./img/iconmonstr-share-1-32.png");
  background-size: contain;
  margin: 0 0.5em 0 1em;
  height: 14px;
  width: 14px;
}

.intro figure:first-child figcaption h2 {
  font-size: 3rem;
}

.intro .figure1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  grid-column: 1/1;
}

.intro .figure2 {
  -ms-grid-row: 1;
  grid-row: 1/1;
}

.intro .figure3 {
  -ms-grid-row: 2;
  grid-row: 2/2;
}

@media screen and (max-width: 760px) {
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro figure {
    width: 100%;
    height: 25vh;
  }
}

/* LATEST NEWS SECTION */
.latest-news {
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 3em 0;
}

.latest-news h2 {
  width: 100%;
  padding: 1em 0;
  color: #ff4422;
}

.latest-news h2 .arrow-right {
  display: inline-block;
  height: 16px;
  width: 18px;
  background: url("./img/iconmonstr-arrow-25-32.png");
  background-size: contain;
}

.latest-news figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23%;
  margin: 1em 0;
  overflow: hidden;
}

.latest-news figure img {
  width: 100%;
  height: 140px;
}

.latest-news figure figcaption {
  width: 100%;
}

.latest-news figure figcaption p {
  font-weight: bold;
  margin: 0.7em 0;
}

.latest-news figure figcaption p.date {
  color: #9b9b9b;
  font-size: 0.8rem;
  font-weight: normal;
}

@media screen and (max-width: 1005px) {
  .latest-news {
    width: 95%;
  }
  .latest-news figure {
    width: 32.5%;
  }
}

@media screen and (max-width: 760px) {
  .latest-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .latest-news h2 {
    margin: 1em 0;
  }
  .latest-news figure {
    width: 100%;
    margin-bottom: 2em;
  }
}

/* LATEST FUNDING ROUNDS ON INDEX.CO */
.latest-funding {
  background-color: lightpink;
  height: 50vh;
  padding: 2em 0;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-funding > div {
  width: 100%;
  padding: 1em 0;
  background-color: lightseagreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.latest-funding article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 23%;
  height: 50%;
  background-color: lightseagreen;
}

@media screen and (max-width: 760px) {
  .latest-funding {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120vh;
  }
  .latest-funding article {
    height: 20%;
    width: 100%;
  }
}

/* ARTICLES ON DIFFERET TOPICS */
.various-topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  padding: 2em 0;
  margin: 0 auto;
  background-color: lightcyan;
}

.various-topics article {
  width: 32%;
  height: 80vh;
  margin-bottom: 2em;
  background-color: lightseagreen;
}

.various-topics article:last-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 1000px) {
  .various-topics article {
    width: 48%;
  }
}

@media screen and (max-width: 760px) {
  .various-topics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
    height: auto;
  }
  .various-topics article {
    width: 100%;
    height: 90vh;
  }
}

/* LATEST DEALS SECTION */
.latest-deals {
  background-color: lightpink;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding: 2em 0;
  margin: 0 auto;
  width: 80%;
}

.latest-deals header {
  background-color: lightseagreen;
  width: 100%;
  padding: 1em;
}

.latest-deals article {
  width: 23%;
  height: 40%;
  background-color: lightseagreen;
}

@media screen and (max-width: 760px) {
  .latest-deals {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .latest-deals .header {
    padding: 0;
  }
  .latest-deals article {
    height: 10%;
    width: 100%;
  }
}

footer ul {
  background-color: #131313;
  padding: 1em 0;
}

footer p {
  padding: 3em 0;
  background-color: black;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */